.App-header {
  background-color: #5e4ec3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#testTitle {
  margin-bottom: 20px;
  font-size: larger;
  color: white;
  font-weight: bold;
}
